/build/
/CMakeFiles/
/CMakeCache.txt
/*.cmake
/bin/
/*.exe
/*.out
/*.app
/*.dSYM
*.swp
*.bak
*.tmp
*.log
/.idea/
/.vscode/
/*.sublime-workspace
/*.sublime-project
/.vs/
.DS_Store
Thumbs.db
ehthumbs.db
*.a
*.lib
*.dll
*.so
*.dylib
/tests/*.log
/tests/*.xml
*.user
*.suo
*.userosscache
*.sln.docstates
/docs/_build/